@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {font-family: 'Montserrat';}


a {
    text-decoration: underline;
    color: #1d3c34 !important;
    font-weight: 400;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {list-style-type: circle;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}